:root {
  --body-color: #000000;
  --panel-color: #121212;
  --upper-panel-color: #212121;
  --brightest-text-color: #ffffff;
  --mid-tier-text-color: #f0f0f0;
  --low-text-color: #808080;
  --main-color: #3e2e9d;
  --accent-color: #812cb2;
}